@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");

.bg_container {
    background-image: url("https://d1tgh8fmlzexmh.cloudfront.net/ccbp-static-website/hotelbg.png");
    background-size: cover;
    height: 100vh;
    width: 100vw;

}

.hotel_card {
    background-color: #000000e6;
    margin: 30px;
    height: 180px;
    margin-right: 25px;
    margin-left: 25px;
    padding: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 350px;
}

.royal_heading {
    font-size: 22px;
    color: #ffffff;
    font-family: bree serif;
    padding: 8px;
}

.paragraph {
    font-size: 13px;
    color: #ffffff;
    font-family: Roboto;
    padding: 8px;


}

.price {
    font-size: 18px;
    color: #ffffff;
    font-family: Roboto;
    padding: 5px;
    margin: 0px;
}

.button {
    font-size: 10px;
    color: black;
    background-color: #ffffff;
    height: 40px;
    width: 120px;
    font-family: Roboto;
    padding: 12px;
    margin: 18px;
    margin-left: 140px;
    margin-right: 140px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    font-weight: bold;
}
